<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link th:href="@{css/style.css}" rel="stylesheet" />
</head>
<body>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/login}" method="post">
    <div class="registration_card">
        <h2 id="regtext">Форма авторизации</h2>
        <div>
            <label> User Name : <input type="text" name="username" required placeholder="Введите имя пользователя..."/> </label>
        </div>
        <br>
        <br>
        <div>
            <div><label> Password: <input type="password" name="password" required placeholder="Введите пароль..."/> </label></div>
        </div>
        <br>
        <br>
        <input type="submit" value="Войти"/>

    </div>
    <br>
</form>

<div style="text-align: center">
    <form th:action="@{/signin}">
        <input type="submit" value="Создать аккаунт"/>
    </form>
</div>

</body>
</html>