<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <title>Профиль</title>
  </head>
  <body>
    <header class="header small-margin-bottom">
      <div class="main-nav-container">
        <a th:href="@{/}">Очерк</a>
        <form class="search-form">
          <input
                  class="search-field"
                  type="text"
                  placeholder="Поиск"
                  name="searchRequest"
          />
          <button class="search-submit" type="submit">Найти</button>
        </form>
        <nav class="main-nav">
          <ul class="main-nav-list">
            <li th:if="${authority == '[AUTHOR]' or authority == '[ADMIN]'}"><a class="main-nav-link" th:href="@{/profile}">Добавить статью</a></li>
            <li th:if="${authority == '[GUEST]'}"><a class="main-nav-link" th:href="@{/login}">Войти</a></li>
            <li th:if="${authority != '[GUEST]'}"><a class="main-nav-link" th:href="@{/profile}">Профиль</a></li>
            <li th:if="${authority == '[ADMIN]'}"><a class="main-nav-link" th:href="@{/admin/users}">Админ-Панель</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="personal-page">

      <div class="profile">
        <h2 class="article-title">Профиль</h2>
        <div class="profile-data">
          <p th:text="'Статус: ' + ${authority} ">Статус: АВТОР</p>
          <p th:text="'Никнейм: ' + ${nickname}">Никнейм: НИКНЕЙМ</p>
          <p th:text="'Имя: ' + ${firstname}">Имя: ИМЯ</p>
          <p th:text="'Фамилия: ' + ${surname}">Фамилия: ФАМИЛИЯ</p>
        </div>

        <form class="edit-profile-form" th:method="POST" th:action="@{/profile}">
          <label for="nickname">Никнейм</label>
          <input id="nickname" type="text" name="personUsername" placeholder="nickname" required />
          <label for="password">Пароль</label>
          <input id="password" type="text" name="personPassword" placeholder="password" />
          <label for="firstname">Имя</label>
          <input id="firstname" type="text" name="personName" placeholder="firstname" />
          <label for="surname">Фамилия</label>
          <input id="surname" type="text" name="personSurname" placeholder="surname" />
          <button class="button button--confirm">Изменить данные</button>
        </form>
        <a class="button button--exit" th:href="@{/logout}">Выйти</a>
      </div>

      <form th:if="${authority == '[AUTHOR]' or authority == '[ADMIN]'}" class="add-article-form" enctype="multipart/form-data" th:method="POST" th:action="@{/article}">
        <h2 class="article-title">Опубликовать статью</h2>
        <label class="article-title-label" for="article-title"
        >Название статьи</label
        >
        <input
                class="article-title-input"
                id="article-title"
                type="text"
                placeholder="Название статьи"
                name="articleTitle"
                required
        />
        <label for="article-content">Текст статьи</label>
        <textarea
                class="article-input"
                id="article-content"
                type="text"
                placeholder="article"
                name="articleContent"
                required
        ></textarea>

        <label for="article-tag">Раздел</label>
        <select id="article-tag" name="articleTag" required>
          <option th:each="tag : ${tags}" th:value="${tag.getId()}" th:text="${tag.getName()}"></option>
        </select>

        <label for="article-image">Загрузить изображение</label>
        <input
                class="article-image"
                id="article-image"
                type="file"
                accept="image/png, image/jpeg"
                name="articleImage"
                required
        />

        <button class="button button--confirm">Добавить статью</button>
      </form>

      <section class="my-articles" th:if="${authority == '[AUTHOR]' or authority == '[ADMIN]'}">
        <h2 class="my-articles-title">Мои статьи</h2>
        <article class="article-element" th:each="article : ${articleList}">
          <span class="tag" th:text="${article.getTag().getName()}">Тэг 1</span>
          <img class="my-article-img" th:src="'img/' + ${article.getPictureLink()}" />
          <h2 class="article-title" th:text="${article.getTitle()}">
            Название статьи
          </h2>
          <p class= "publish-date" th:text="${article.getDate().toString().substring(0, 10)}" >01.01.2002</p>
          <form class="my-articles-actions" th:method="POST" th:action="@{/articleDelete/(articleId=${article.getId()})}">
            <input type="hidden" name="articleId" th:value="${article.getId()}">
            <button class="delete-link">Удалить</button>
          </form>
        </article>
      </section>
    </main>

    <footer class="footer">
      <div class="address-col">
        <p class="footer-heading">Наши контакты</p>
        <address class="contacts">
          <p class="address">г.Москва Улица 11-Парковая, д.36</p>
          <p>
            <a class="footer-nav-link" href="tel:8-123-456-78-90"
              >Позвоните нам: 8-123-456-78-90</a
            >
          </p>
          <p>
            <a class="footer-nav-link" href="ocherk@news.ru"
              >Напишите нам: ocherk@news.ru</a
            >
          </p>
        </address>
      </div>
      <nav class="footer-nav-col">
        <ul class="footer-nav-list">
          <p class="footer-heading">Наши социальные сети</p>
          <li><a class="footer-nav-link" href="#">Вконтакте</a></li>
          <li><a class="footer-nav-link" href="#">Телеграм</a></li>
          <li><a class="footer-nav-link" href="#">Одноклассники</a></li>
        </ul>
      </nav>
      <nav class="footer-nav-col">
        <ul class="footer-nav-list">
          <p class="footer-heading">Полезные ссылки</p>
          <li><a class="footer-nav-link" th:href="@{/}">Главная</a></li>
          <li th:if="${authority == '[AUTHOR]' or authority == '[ADMIN]'}"><a class="footer-nav-link" th:href="@{/profile}">Добавить статью</a></li>
          <li th:if="${authority == '[GUEST]'}"><a class="footer-nav-link" th:href="@{/login}">Войти</a></li>
          <li th:if="${authority != '[GUEST]'}"><a class="footer-nav-link" th:href="@{/profile}">Профиль</a></li>
          <li th:if="${authority == '[ADMIN]'}"><a class="footer-nav-link" th:href="@{/admin/users}">Админ-Панель</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
